<div class="row center-align">
  <br>
  <div class="col s12 m12 l12 ">
    <img class="responsive-img" src="https://media.giphy.com/media/9J7tdYltWyXIY/giphy.gif">
  </div>
  <div class="col s12 m12 l12 ">
    <a routerLink="/" class="btn waves-effect waves-light">Accueil</a>
  </div>
</div>
