
<div class=" title blue lighten-1">
  <!--Header-->
  <p class="flow-text center-align "> {{title}} ❤️ Inspired from <a  class="blue-text text-darken-2" href="https://twitter.com/dog_rates?lang=fr">WeRateDogs™</a></p>
  <!--Nabar-->
  <nav>
  <div class="nav-wrapper blue lighten-1">
      <a class="brand-logo right"routerLink="/"><img src="assets/images/jake.png"></a>
    <a routerLink="/" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="dogs"><i class="material-icons left">pets</i>All the dogs</a></li>
      <li routerLinkActive="active"><a routerLink="login"><i class="material-icons left">person</i>Login</a></li>
      <li routerLinkActive="active"><a routerLink="add"><i class="material-icons left">add</i>Add a dog</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-menu">
  <li routerLinkActive="active"><a routerLink="dogs"><i class="material-icons left">pets</i>All the dogs</a></li>
  <li routerLinkActive="active"><a routerLink="add"><i class="material-icons left">add</i>Add a dog</a></li>
  <li routerLinkActive="active"><a routerLink="login"><i class="material-icons left">person</i>Login</a></li>
</ul>
</div>


