<div class="container">
  <h4 class="center-align">Add a dog</h4>
<div class="row">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="col s12">
    <div class="row">
      <!--Name-->
      <div class="input-field col s4">
        <i class="material-icons prefix">pets</i>
        <input id="name" name="name" type="text" class="validate" required ngModel>
        <label for="name">Name of a dog</label>
      </div>
      <!--Descriptions-->
      <div class="input-field col s8">
        <i class="material-icons prefix">edit</i>
        <textarea id="description" name="description" class="materialize-textarea" required ngModel></textarea>
        <label for="description">Description of the Dog</label>
      </div>
    </div>
      <div class="row">
        <!--Image-->
      <div class="input-field col s12">
        <i class="material-icons prefix">add_photo_alternate</i>
        <input id="image" name="image"type="text" pattern="https?://.+" class="validate" required ngModel>
        <label for="image">Picture</label>
        <span class="helper-text" data-error="wrong" data-success="right" >Paste the link to the image here</span>
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="f.invalid" >Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
</div>
