<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 ">
      <div class="card">
        <div class="card-image">
          <img src="{{post.image}}">
          <span class="card-title">Edit this Dog</span>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="card-content">
          <input type="hidden" id="id" name="id" class="form-control" [(ngModel)]="post.id" required ngModel>
          <input type="hidden" id="likes" name="likes" class="form-control" [(ngModel)]="post.likes" required ngModel>
          <input type="text" id="name" name="name" class="form-control" [(ngModel)]="post.name" required ngModel>
          <input type="text" id="description" name="description" class="form-control" [(ngModel)]="post.description" required ngModel>
          <input type="text" id="image" name="image" pattern="https?://.+"class="form-control" [(ngModel)]="post.image" required ngModel>
          <p class="text-accent-1">
            <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="f.invalid">Submit
              <i class="material-icons right">send</i>
            </button>
            or
            <a class="btn waves-effect waves-light btn-light" routerLink="/"><i class="material-icons right">home</i>Return</a>
          </p>
        </div>
        </form>
    </div>
  </div>
</div>
