<div class="col s12 m6 l4">
  <div class="card">
    <!--Image-->
    <div class="card-image waves-effect waves-block waves-light">
      <img class="responsive-img" src="{{image}}">
    </div>
    <div class="card-content">
      <!--Name - Badge-->
      <div class="row valign-wrapper">
      <div class="col s12 m12 l12 center-align">
          <span class="card-title">{{name}} <span class="new badge" data-badge-caption="❤️">{{likes}}</span></span>
        </div>
      </div>
      <!--Description-->
      <div class="row valign-wrapper ">
        <div class="col s8 m8 l8">
          <span>{{description}}</span>
        </div>
        <!--Votes-->
        <div class="col s4 m4 l4 ">
          <span class="black-text">
            <a class="btn-floating btn-large waves-effect waves-light red" (click)="like()"><i class="material-icons">favorite</i></a>
          </span>
        </div>
      </div>
    </div>
    <!--Edition-->
  <div class="card-action" *ngIf="isLog">
    <div class="row center-align">
      <span><a class="waves-effect waves-light btn-small" routerLink="/dogs/{{id}}">Edit this Dog</a></span>
      <span><a class="waves-effect waves-light btn-small" (click)="delete()">Delete this Dog</a></span>
    </div>
  </div>
</div>
</div>
